## Find sum of all digits

In [2]:
nums = int(input("enter the number"))

sum_of_digit=0
# Check the number is greater than 9 or not 
if(nums>9):
    while (nums != 0):
        #Module by 10 will return reminder 
        reminder = nums % 10
        sum_of_digit+= reminder
        #Floor division by 10 will exact quotient 
        nums = nums//10  
else:
  sum_of_digit=nums

print(sum_of_digit)

enter the number 5342

14

## Find first pair (non-negligible) divisor for a number

In [5]:
nums = int(input("enter the number"))

#Non-Negligible means we can not consider 1 and number itself. 
#So iteration should start from 2 and need to go half for the number. Example if number if 64 then go upto 32
for i in range(2,nums//2+1):
    # Check if iteration value i if divide the nums
    if(nums%i==0):
        #if yes then get iterfation value and floor division value
        print(i,nums//i)
        break;

enter the number 64

2 32

## 1 Reverse An Array

In [56]:
def reverse_array(nums):
    """
    Args:
     nums(list_int32)
    Returns:
     list_int32
    """
    return nums[::-1]

## 2 Insert An Element At A Specific Position In An Array

In [57]:
def insert_element_at_position(nums, element, position):
    """
    Args:
     nums(list_int32)
     element(int32)
     position(int32)
    Returns:
     list_int32
    """
    list_len = len(nums)
    result=[]
    if(list_len == position):
        nums[list_len-1] = element
        result = nums
    elif(list_len>position):
        for i in range(list_len):
            if(i+1==position):
                result.append(element)
                result.extend(nums[i:list_len-1])
                break;                              
            else:
                result.append(nums[i])
    return result

## 3 Intersection of Two Array

In [70]:
def get_intersection_with_maintained_frequency(a, b):
    """
    Args:
     a(list_int32)
     b(list_int32)
    Returns:
     list_int32
    """
    result = []
    a.sort()
    b.sort()

    nums1_len = len(a)
    nums2_len = len(b)
    i=0
    j=0

    while(i<nums1_len and j<nums2_len):
        if(a[i]==b[j]):
            result.append(a[i])
            i+=1
            j+=1
        elif(a[i]<b[j]):
            i+=1
        else:
            j+=1
    return result

## 3 Intersection of Two Array Approach -2

In [33]:
from collections import Counter 
def get_intersection_with_maintained_frequency(a, b):
    """
    Args:
     a(list_int32)
     b(list_int32)
    Returns:
     list_int32
    """
    result = []
    if(len(a)>len(b)):
        #swap the list
        a,b = b,a
        #store small list element as key and count as value in a dictionary
        ele_dict = Counter(a)
        for num in b:
            #check the num is present in dict if yes then append and reduce the count
            if(ele_dict[num]>0):
                result.append(num)
                ele_dict[num] -=1
    return result

get_intersection_with_maintained_frequency([1,2,2,2,3,4,5,6,6,8],[2,2,3,4,4,6])

[2, 2, 3, 4, 6]

## 4 Find Pivot Index

In [58]:
def get_pivot_index(numbers):
    """
    Args:
     numbers(list_int32)
    Returns:
     int32
    """
    for i in range(len(numbers)):
        if(sum(numbers[:i])==sum(numbers[i+1:])):
            return i
    return -1

## 5 Reverse Words In A Given String

In [34]:
def reverse_words(s):
    """
    Args:
     s(str)
    Returns:
     str
    """
    # Write your code here.
    words = s.split()
    rev_words = words[::-1]
    return " ".join(rev_words)

reverse_words("kickstart")

'kickstart'

## 6 First Occurrence Of A Character

In [38]:
def find_first_occurrence(s, to_find):
    """
    Args:
     s(str)
     to_find(char)
    Returns:
     int32
    """
    # Write your code here.
    idx = 0 
    for i in s:
        if i==to_find:
            return idx
        idx+=1
    return -1

find_first_occurrence("kickstart","n")

-1

## 7 Count Alphabets

In [41]:
def count_alphabets(s):
    """
    Args:
     s(str)
    Returns:
     int32
    """
    count=0
    alphabets = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
    for i in s:
        if i.lower() in alphabets:
            count+=1
    return count

count_alphabets("123 !@#$")

0

## 8 Convert Uppercase Characters To Lowercase

In [43]:
def uppercase_to_lowercase(s):
    """
    Args:
     s(str)
    Returns:
     str
    """
    # Write your code here.
    return s.lower()

uppercase_to_lowercase("KICKSTART")

'kickstart'

## 9 Length Of The Last Word

In [53]:
def length_of_last_word(sentence):
    """
    Args:
     sentence(str)
    Returns:
     int32
    """
    # Write your code here.
    clean_sentence = sentence.strip()
    if(len(clean_sentence)>0):
        words = clean_sentence.split()
        last_word = words[-1]
        return len(last_word)
    else:
        return 0

length_of_last_word("m")

1